mixin sServices(data)
	// start sServices
	section.fullWidthSection
		h2.caption Услуги компании Оптим-капитал
		.flexWrap
			.serviceItem
				a(href='/')
					.serviceName Разработка фирменного стиля
					.more
						span Подробнее
						i.fa.fa-angle-right(aria-hidden='true')
					img(src='img/man.png' alt='')
			.serviceItem
				a(href='/')
					.serviceName
						| Пошив
						br
						|  на заказ
					.more
						span Подробнее
						i.fa.fa-angle-right(aria-hidden='true')
					img(src='img/girl.png' alt='')
			.serviceItem
				a(href='/')
					.serviceName Нанесение логотипа
					.more
						span Подробнее
						i.fa.fa-angle-right(aria-hidden='true')
					img(src='img/man2.png' alt='')

	// end sServices