mixin footer()
	footer.footerWrapper
		.fullWidthSection
			.flexWrap.alignUp
				.footerItem
					.footerItemCaption Каталог
					ul
						li
							a(href='') Спецодежда
						li
							a(href='') Спецобувь
						li
							a(href='') СИЗ (Защита рук)
						li
							a(href='') СИЗ (Защита головы)
						li
							a(href='') СИЗ (Защита от падений с высоты)
						li
							a(href='') Сопутствующие товары
				.footerItem
					.footerItemCaption Услуги
					ul
						li
							a(href='') Разработка фирменного стиля
						li
							a(href='') Пошив на заказ
						li
							a(href='') Нанесение логотипа
				.footerItem
					.footerItemCaption Клиентам
					ul
						li
							a(href='') Доставка и оплата
						li
							a(href='') Спецодежда
						li
							a(href='') Обувь
						li
							a(href='') Защита рук
						li
							a(href='') Защита дыхания
						li
							a(href='') Защита слуха
						li
							a(href='') Словарь терминов
				.footerItem
					.footerItemCaption О компании
					ul
						li
							a(href='') О нас
						li
							a(href='') Вакансии
						li
							a(href='') Партнеры
						li
							a(href='') Наша команда
						li
							a(href='') Новинки
				.footerItem
					.footerItemCaption Центральный офис:
					p
						| Адрес: 141650, Московская область, г.Высоковск, ул. Ленина, дом 29А, 
						br
						|  Телефон:
						a(href='tel:8 (49624) 6-36-77')
							nobr 8 (49624) 6-36-77
						|                         ,
						a(href='tel:8(963)772-66-20')
							nobr 8(963)772-66-20
						|                         ,
						a(href='tel:8(962)916-92-38')
							nobr 8(962)916-92-38
					.footerItemCaption Филиалы:
					p
						| Адрес: г. Ярославль, ул. пролетарская, дом 18а, офис 320 
						br
						|  Телефон:
						a(href='tel:(4852) 58-54-35')
							nobr
								| (4852) 58-54-35
						nobr
						| ,
						a(href='tel:48-54-42')
							nobr 48-54-42
					p
						| Адрес: г. Воскресенск, ул. Советская, дом 4а 
						br
						|  Телефон:
						a(href='tel:(49644) 2-03-67')
							nobr (49644) 2-03-67
						|                         ,
						a(href='tel:1-11-41')
							nobr 1-11-41
						|                         ,
						a(href='tel:1-18-09')
							nobr 1-18-09
					.footerItemCaption Розничные магазины:
					p
						| Адрес: 141600, Московская область, г. Клин, ул. Дзержинского, дом 6а 
						br
						|  Телефон:
						a(href='tel:(49624) 2-77-36')
							nobr (49624) 2-77-36
					p
						| Адрес: 140200, Московская область, г. Воскресенск, ул. Советская, дом 9 
						br
						|  Телефон:
						a(href='tel:(49644) 2-84-00')
							nobr (49644) 2-84-00
			.netLinks
				a(href='')
					i.icon-vk
				a(href='')
					i.icon-twitter
				a(href='')
					i.icon-youtube
				a(href='')
					i.icon-odnoklassniki
		.fullWidthSection
			.footerBottomInfo.flexWrap
				div ОПТИМ-КАПИТАЛ — торгово-промышленная компания
				div
					a(href='https://webpult.pro/' target='_blank') Создание интернет-магазина
					|  компания Вебпульт