mixin sliderProductItem(data)
	// start sliderProductItem
	.sliderBg
		.sliderProductItem
			div
				+productItem(`n`, `h`, `product.png`, `Артикул: 68089046`, `Костюм рабочий с наколенниками и налакотниками мужской`, `9 990 ₽`, `10 100 ₽`)
			div
				+productItem(`n`, ``, `product-2.png`, `Артикул: А161.1/15`, `Костюм мужской для защиты от ОПЗ (У101)`, ``, `6 000 ₽`)
			div
				+productItem(`n`, ``, `product-3.png`, `Артикул: А1654654`, `Костюм ИНЖЕНЕР женский`, ``, `1 115 ₽`)
			div
				+productItem(`n`, ``, `product-4.png`, `Артикул: S40678`, `Футболка трикотажная (белый)`, ``, `340.5 ₽`)
			div
				+productItem(`n`, ``, `product-5.png`, `Артикул: M78`, `Защитный крем для рук АРМАКОН ПРОТЕКТ, туба 100 мл`, ``, `625 ₽`)
			div
				+productItem(`n`, `h`, `product.png`, `Артикул: 68089046`, `Костюм рабочий с наколенниками и налакотниками мужской`, `9 990 ₽`, `10 100 ₽`)
			div
				+productItem(`n`, ``, `product-2.png`, `Артикул: А161.1/15`, `Костюм мужской для защиты от ОПЗ (У101)`, ``, `6 000 ₽`)
		#sliderProductsNav.navButtons
	// end sliderProductItem
	
//- mixin sliderProductItem2(data)
//- 	// start sliderProductItem2
//- 	.sliderBg
//- 		.sliderProductItem
//- 			div
//- 				+productItem2(`product.png`, `Костюм рабочий с наколенниками и налакотниками мужской`, `9 990 ₽`, `10 100 ₽`)
//- 			div
//- 				+productItem2(`product-2.png`, `Костюм мужской для защиты от ОПЗ (У101)`, ``, `6 000 ₽`)
//- 			div
//- 				+productItem2(`product-3.png`, `Костюм ИНЖЕНЕР женский`, ``, `1 115 ₽`)
//- 			div
//- 				+productItem2(`product-4.png`, `Футболка трикотажная (белый)`, ``, `340.5 ₽`)
//- 			div
//- 				+productItem2(`product-5.png`, `Защитный крем для рук АРМАКОН ПРОТЕКТ, туба 100 мл`, ``, `625 ₽`)
//- 			div
//- 				+productItem2(`product.png`, `Костюм рабочий с наколенниками и налакотниками мужской`, `9 990 ₽`, `10 100 ₽`)
//- 			div
//- 				+productItem2(`product-2.png`, `Костюм мужской для защиты от ОПЗ (У101)`, ``, `6 000 ₽`)
//- 		#sliderProducts2Nav.navButtons
//- 	// end sliderProductItem2