mixin advantages(data)
	// start advantages
	.fullWidthSection
		.advantagesWrapper
			.advantagesItem
				i.icon-outfit
				p более 800 наименований средств индивидуальной защиты
			.advantagesItem
				i.icon-fabric-pattern
				p собственное швейное производство
			.advantagesItem
				i.icon-quality
				p Европейское качество продукции
			.advantagesItem
				i.icon-technical-support
				p Индивидуальный подход к каждому клиенту
	// end advantages