mixin headerSlider(data)
	// start headerSlider
	.headerSliderWrapper
		.headerSlider
			.itemSliderHeader(style='background: url(img/3-layers.jpg); background-size:cover;')
				.itemSliderHeaderInfo
					.mainColorHover Новое поступление
					.itemSliderHeaderTitle Спецодежда от общепроизводственных загрязнений
					a.button(href='') В каталог
			.itemSliderHeader(style='background: url(img/3-layers.jpg); background-size:cover;')
				.itemSliderHeaderInfo
					.mainColorHover Новое поступление
					.itemSliderHeaderTitle Спецодежда от общепроизводственных загрязнений новинки
					a.button(href='') В каталог
			.itemSliderHeader(style='background: url(img/3-layers.jpg); background-size:cover;')
				.itemSliderHeaderInfo
					.mainColorHover Новое поступление
					.itemSliderHeaderTitle Спецодежда от общепроизводственных загрязнений
					a.button(href='') В каталог
			.itemSliderHeader(style='background: url(img/3-layers.jpg); background-size:cover;')
				.itemSliderHeaderInfo
					.mainColorHover Новое поступление
					.itemSliderHeaderTitle Спецодежда от общепроизводственных загрязнений новинки
					a.button(href='') В каталог
		#sliderHeaderNav.sliderNavIcons.roundButton

	// end headerSlider