mixin sError(data)
	// start sError
	section.fullWidthSection
		.flexWrap
			.arrorPage
				h1 404
				p
					| Ошибка 404 
					br
					|  Страница не найдена
				a.button(href='home.html') Перейти на главную
	#callback.back(style="display: none;")
		.modalFormWrapper
			h3 Обратный звонок
			form(action='')
				label Имя
					input(type='text' placeholder='Ваше Имя *' required='')
				label Телефон
					input(type='tel' placeholder='Телефон *' required='')
				button(type='submit') Отправить заявку
			p.warning.center
				| Отправляя заявку на обратный звонок вы соглашаетесь с 
				a(href='') политикой конфиденциальности
	// end sError