extends layout/main.pug


//- include ../blocks/sContent/_sContent.pug
//- include ../blocks/sContact/_sContact.pug
//- include ../blocks/headerSlider/_headerSlider.pug
//- include ../blocks/advantages/_advantages.pug
//- include ../blocks/CatalogCategory/_CatalogCategory.pug
//- include ../blocks/sliderProductItem/_sliderProductItem.pug
//- include ../blocks/aboutCompany/_aboutCompany.pug
//- include ../blocks/sServices/_sServices.pug
include ../blocks/leftMenu/_leftMenu.pug
//- include ../blocks/verticalFilter/_verticalFilter.pug
//- include ../blocks/catalogItemPageContent/_catalogItemPageContent.pug
include ../blocks/sError/_sError.pug

block variables
	- let  mainPage= null 
	- let  bg= null


block title
	- let  title= 'Ошибка страницы'
	title= title
block pagecontent
	+header()
	+sError()
	+footer()
block foot
	// JS