mixin contentPageContent(data)
	// start contentPageContent
	.baseContentWrapper
		.textContent
			p
				| С момента своего основания в 1993 году ООО торгово-промышленная компания «Оптим-капитал» работает в области охраны и безопасности труда и специализируется на комплексном обеспечении предприятий спецодеждой, спецобувью и средствами
				| индивидуальной защиты.
			p
				| Специфика деятельности компании заключается в том, что мы квалифицированно подбираем СИЗ с учетом условий труда на каждом рабочем месте. Накопленный многолетний опыт и знания в области охраны труда позволяют профессионально решать
				| эти вопросы. На сегодняшний день компания предлагает более 800 наименований средств индивидуальной защиты. 
				a(href='#') Постоянное участие
				|  специалистов ООО ТПК «Оптим-капитал» в выставках, конференциях, посвященных вопросам
				|                         охраны и безопасности труда, тесное сотрудничество с мировыми лидерами производства СИЗ, позволяет нам быть в курсе новых тенденций на рынке профессиональных средств защиты и предлагать лучшие современные разработки своим партнерам.
			h2 Заголовок H2
			p
				| С момента своего основания в 1993 году ООО торгово-промышленная компания «Оптим-капитал» работает в области охраны и безопасности труда и специализируется на комплексном обеспечении предприятий спецодеждой, спецобувью и средствами
				| индивидуальной защиты.
			p
				| Специфика деятельности компании заключается в том, что мы квалифицированно подбираем СИЗ с учетом условий труда на каждом рабочем месте. Накопленный многолетний опыт и знания в области охраны труда позволяют профессионально решать
				| эти вопросы. На сегодняшний день компания предлагает более 800 наименований средств индивидуальной защиты. Постоянное участие специалистов ООО ТПК «Оптим-капитал» в выставках, конференциях, посвященных вопросам охраны и безопасности
				| труда, тесное сотрудничество с мировыми лидерами производства СИЗ, позволяет нам быть в курсе новых тенденций на рынке профессиональных средств защиты и предлагать лучшие современные разработки своим партнерам.
			h3 Основные стандарты, используемые при изготовлении обуви H3
			p
				| Действующая нормативная документация на обувь и материалы систем стандартов безопасности труда:
			.item2td
				table
					tbody
						tr
							th Гост
							th Обозначение
						tr
							td
								p ГОСТ 12,4,029-76
							td
								p
									| Обувь специальная кожаная для защиты от нефти, нефтепродуктов, кислот, щелочей, нетоксичной и взрывоопасной пыли. Технические условия.
						tr
							td
								p ГОСТ 12,4,187-97
							td
								p
									| Система стандартов безопасности труда. Обувь специальная кожаная для защиты от общих производственных загрязнений. Общие технические условия.
						tr
							td
								p ГОСТ 12,4,060-78
							td
								p
									| Обувь специальная кожаная для защиты от скольжения и механических воздействий. Технические условия.
			h3 Основные стандарты, используемые при изготовлении обуви H3
			p
				| Действующая нормативная документация на обувь и материалы систем стандартов безопасности труда:
			.item3td
				table
					tbody
						tr
							th Категория
							th Гост
							th Название
						tr
							td
								p Одежда повышенной видимости
							td
								p ГОСТ Р 12.4.219-99
							td
								p «ССБТ. Одежда специальная сигнальная повышенной видимости».
						tr
							td
								p Одежда для защиты от кислот и щелочей
							td
								p ГОСТ Р 12.4.248-2008
							td «ССБТ. Одежда специальная для защиты от растворов кислот».
			.productAdvantages.FlexWrap.contentUp
				.advantagesInfo
					.advantageItem
						img(src='img/icons/oil.png' alt='')
					p
						| от продуктов легких и тяжелых фракций, от нефтяных, растительных и животных масел и жиров
				.advantagesInfo
					.advantageItem
						img(src='img/icons/bug.png' alt='')
					p от насекомых и микроорганизмов
				.advantagesInfo
					.advantageItem
						img(src='img/icons/lifejacket.png' alt='')
					p сигнальная
				.advantagesInfo
					.advantageItem
						img(src='img/icons/fire.png' alt='')
					p от насекомых
				.advantagesInfo
					.advantageItem
						img(src='img/icons/rainy.png' alt='')
					p от искр и брызг расплавленного металла, окалины
				.advantagesInfo
					.advantageItem
						img(src='img/icons/snowflake.png' alt='')
					p от открытого пламени
			h4 Основные стандарты, используемые при изготовлении обуви H3
			p
				| Действующая нормативная документация на обувь и материалы систем стандартов безопасности труда:
			ul
				li
					| Специфика деятельности компании заключается в том, что мы квалифицированно подбираем СИЗ с учетом условий труда на каждом рабочем месте. Накопленный многолетний опыт и знания в области охраны труда позволяют профессионально решать
					| эти вопросы.
				li
					| На сегодняшний день компания предлагает более 800 наименований средств индивидуальной защиты.
				li
					| #[a(href="#") Постоянное участие] специалистов ООО ТПК «Оптим-капитал» в выставках, конференциях, посвященных вопросам охраны и безопасности труда, тесное сотрудничество с мировыми лидерами производства СИЗ, позволяет нам быть в курсе новых тенденций
					| на рынке
				li
					| Профессиональных средств защиты и предлагать лучшие современные разработки своим партнерам.
			ol
				li
					| Специфика деятельности компании заключается в том, что мы квалифицированно подбираем СИЗ с учетом условий труда на каждом рабочем месте. Накопленный многолетний опыт и знания в области охраны труда позволяют профессионально решать
					| эти вопросы.
				li
					| На сегодняшний день компания предлагает более 800 наименований средств индивидуальной защиты.
				li
					| #[a(href="#") Постоянное участие] специалистов ООО ТПК «Оптим-капитал» в выставках, конференциях, посвященных вопросам охраны и безопасности труда, тесное сотрудничество с мировыми лидерами производства СИЗ, позволяет нам быть в курсе новых тенденций
					| на рынке
				li
					| Профессиональных средств защиты и предлагать лучшие современные разработки своим партнерам.
			blockquote
				| С момента своего основания в 1993 году ООО торгово-промышленная компания «Оптим-капитал» работает в области охраны и безопасности труда и специализируется на комплексном обеспечении предприятий спецодеждой, спецобувью и средствами
				| индивидуальной защиты.
			p
				| С момента своего основания в 1993 году ООО торгово-промышленная компания «Оптим-капитал» работает в области охраны и безопасности труда и специализируется на комплексном обеспечении предприятий спецодеждой, спецобувью и средствами
				| индивидуальной защиты.

	// end contentPageContent