mixin aboutCompany(data)
	// start aboutCompany
	section.fullWidthSection
		.aboutCompany
			img(src='img/companyImage.png' alt='')
			.textAbourCompany
				h2.caption О компания «Оптим-капитал»
				.subTitleMin торгово-промышленная компания
				p
					| С момента своего основания в 1993 году ООО торгово-промышленная компания «Оптим-капитал» работает в области охраны и безопасности труда и специализируется на комплексном обеспечении предприятий спецодеждой, спецобувью и средствами индивидуальной защиты.
				p
					| Специфика деятельности компании заключается в том, что мы квалифицированно подбираем СИЗ с учетом условий труда на каждом рабочем месте. Накопленный многолетний опыт и знания в области охраны труда позволяют профессионально решать эти вопросы. На сегодняшний день компания предлагает более 800 наименований средств индивидуальной защиты. 
					a(href='#') Постоянное участие
					|  специалистов ООО ТПК «Оптим-капитал» в выставках, конференциях, посвященных вопросам охраны и безопасности труда, тесное сотрудничество с мировыми лидерами производства СИЗ, позволяет нам быть в курсе новых тенденций на рынке профессиональных средств защиты и предлагать лучшие современные разработки своим партнерам.
				a.more(href='#')
					span Подробнее
					i.icon-arrow_right
	// end aboutCompany