mixin servicesCatalogContent(data)
	// start servicesCatalogContent
	.baseContentWrapper
		.CatalogCategory.Item3
			.itemCatalog
				a(href='/Users/admin/Desktop/WebPultProjects/optima.wpult.ru/category.html')
					img(src='img/catalog-23.png' alt='')
					span
						| Разработка фирменного 
						br
						|  стиля
			.itemCatalog
				a(href='/Users/admin/Desktop/WebPultProjects/optima.wpult.ru/category.html')
					img(src='img/catalog-24.png' alt='')
					span Пошив на заказ
			.itemCatalog
				a(href='/Users/admin/Desktop/WebPultProjects/optima.wpult.ru/category.html')
					img(src='img/catalog-25.png' alt='')
					span Нанесение логотипа
		.textContent
			p
				| С момента своего основания в 1993 году ООО торгово-промышленная компания «Оптим-капитал» работает в области охраны и безопасности труда и специализируется на комплексном обеспечении предприятий спецодеждой, спецобувью и средствами индивидуальной защиты.
			p
				| Специфика деятельности компании заключается в том, что мы квалифицированно подбираем СИЗ с учетом условий труда на каждом рабочем месте. Накопленный многолетний опыт и знания в области охраны труда позволяют профессионально решать
				| эти вопросы. На сегодняшний день компания предлагает более 800 наименований средств индивидуальной защиты. 
				a(href='#') Постоянное участие
				|  специалистов ООО ТПК «Оптим-капитал» в выставках, конференциях, посвященных вопросам охраны и безопасности труда, тесное сотрудничество с мировыми лидерами производства СИЗ, позволяет нам быть в курсе новых тенденций на рынке профессиональных средств защиты и предлагать лучшие современные разработки своим партнерам.

	// end servicesCatalogContent