include ../../_assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })

include ../../blocks/mixin-wrap/mixin-wrap.pug
include ../../blocks/form-wrap/form-wrap.pug
include ../../blocks/footer/_footer.pug 
include ../../blocks/modal/_modal.pug
include js-css.pug

include ../../blocks/header/_header.pug
include ../../blocks/topLine/_topLine.pug
include ../../blocks/top-nav/_top-nav.pug 
include ../../blocks/headerBlock/_headerBlock.pug
include ../../blocks/sForm/_sForm.pug
include ../../blocks/breadcrumbsDef/_breadcrumbsDef.pug

doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		block title
			title title
		meta(name="description", content="Главная")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
		link(rel='apple-touch-icon' sizes='57x57' href='favicon/apple-icon-57x57.png')
		link(rel='apple-touch-icon' sizes='60x60' href='favicon/apple-icon-60x60.png')
		link(rel='apple-touch-icon' sizes='72x72' href='favicon/apple-icon-72x72.png')
		link(rel='apple-touch-icon' sizes='76x76' href='favicon/apple-icon-76x76.png')
		link(rel='apple-touch-icon' sizes='114x114' href='favicon/apple-icon-114x114.png')
		link(rel='apple-touch-icon' sizes='120x120' href='favicon/apple-icon-120x120.png')
		link(rel='apple-touch-icon' sizes='144x144' href='favicon/apple-icon-144x144.png')
		link(rel='apple-touch-icon' sizes='152x152' href='favicon/apple-icon-152x152.png')
		link(rel='apple-touch-icon' sizes='180x180' href='favicon/apple-icon-180x180.png')
		link(rel='icon' type='image/png' sizes='192x192' href='favicon/android-icon-192x192.png')
		link(rel='icon' type='image/png' sizes='32x32' href='favicon/favicon-32x32.png')
		link(rel='icon' type='image/png' sizes='96x96' href='favicon/favicon-96x96.png')
		link(rel='icon' type='image/png' sizes='16x16' href='favicon/favicon-16x16.png')
		link(rel='manifest' href='favicon/manifest.json')
		meta(name='msapplication-TileColor' content='#ffffff')
		meta(name='msapplication-TileImage' content='favicon/ms-icon-144x144.png')
		meta(name='theme-color' content='#ffffff')
		link(rel='icon' href='/favicon.ico' type='image/x-icon')
		+allcss()
	block variables
	//- style.
	//- 	.loaded_hiding {  opacity: 0; pointer-events: none;  } .loaded_hiding::before { display: none; }
	//- body.loaded_hiding(class= mainPage) 
	body(class= mainPage data-bg= bg)
		block pagecontent
			h3 content
		//- +modal()
		+allcjs()
		block foot
			// JS КОД

